extends ../template

block variables
  - var title = "About"

block content
  header.section__header
    .container
      .header__menu
        .header__social
          ul.socials
            li.socials__item
              a.socials__item.socials__item_vk(href="#")
                svg(width="30" height="30").icon_sprites
                  use(xlink:href="assets/images/sprites/sprite.svg#vk")
            li.socials__item
              a.socials__item.socials__item_git(href="#")
                svg(width="30" height="30").icon_sprites
                  use(xlink:href="assets/images/sprites/sprite.svg#github")
            li.socials__item
              a.socials__item.socials__item_in(href="#")
                svg(width="30" height="30").icon_sprites
                  use(xlink:href="assets/images/sprites/sprite.svg#in")
        .hamburger
          svg(width="45" height="35").icon_sprites
            use(xlink:href="assets/images/sprites/sprite.svg#hamburger")
          nav.main__menu
            ul.menu
              li.menu__items
                a.menu__items_link(href="works.html") Мои работы
              li.menu__items
                a.menu__items_link(href="about.html") Обо мне
              li.menu__items
                a.menu__items_link(href="blog.html") Блог
    .user__image
      img(src="assets/images/avatar.jpg", alt="Avatar").image__avatar
    .user__info
      h2.user__name
        | Пацура Александр
      p.description
        | Личный сайт веб разработчика



  ul.wrap
    li.item
      svg.circles(viewbox='0 0 110 110')
        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
        circle.circle__second.circle-25(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
      span.item__title HTML & CSS
    li.item
      svg.circles(viewbox='0 0 110 110')
        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
        circle.circle__second.circle-45(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
      span.item__title javaScript
    li.item
      svg.circles(viewbox='0 0 110 110')
        circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
        circle.circle__second.circle-75(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
      span.item__title Node.js



  footer.footer
    .footer__row
      .footer__menu
        nav.main__menu
          ul.menu
            li.menu__items
              a.menu__items_link(href="works.html") Мои работы
            li.menu__items
              a.menu__items_link(href="about.html") Обо мне
            li.menu__items
              a.menu__items_link(href="blog.html") Блог
            li.menu__items
              a.menu__items_link(href="blog.html") Авторизация
      .footer__social
        ul.socials
            li.socials__item
              a.socials__item.socials__item_vk(href="#")
                svg(width="40" height="40").icon_sprites
                  use(xlink:href="assets/images/sprites/sprite.svg#vk")
            li.socials__item
              a.socials__item.socials__item_git(href="#")
                svg(width="30" height="40").icon_sprites
                  use(xlink:href="assets/images/sprites/sprite.svg#github")
            li.socials__item
              a.socials__item.socials__item_in(href="#")
                svg(width="30" height="45").icon_sprites
                  use(xlink:href="assets/images/sprites/sprite.svg#in")
                  //- use(xlink:href="assets/images/sprites/sprite.svg#github")
    .footer__row
      p.description
        | Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
      p.copy
        | &copy; Пацура Александр | создано с любовью в LoftSchool | 2017