extends ../template

block title
	title Welcome

//- block content
	//- h1 Hello!
	//- form
	//- 	label(for="email") email
	//- 	input(name="email" id="email")
	//- 	label(for="password") password
	//- 	input(name="password" id="password")
	//- 	button Log In