extends ../template

block title
	title Welcome

block content
	header.header__welcome
		.btn__authoriz
			a.btn__authoriz_link(href='#') Авторизоваться
		.welcome__block
			.info__block
				.img__wrapper
					img.img__avatar(src='../assets/images/avatar.jpg' alt='Avatar')
					h2.user__name Пацура Александр
					p.user__description Личный сайт веб разработчика
				.social__icons
					i.fa.fa-fb
			nav
				ul.menu
					li.menu__item
						a.menu__item_link(href='works.html') Мои работы
					li.menu__item
						a.menu__item_link(href='about.html') Обо мне
					li.menu__item
						a.menu__item_link(href='blog.html') Блог
	footer.footer
		.copy
			p © Пацура Александр | создано с любовью в LoftSchool | 2017