extends ../template

block variables
  - var title = "My works"

block content
  include ../common/header
  //- ///////////////////////////////////////////////////////////////////////////////////////////

  
  .section__triangle
    svg.about__triangle_left(xmlns='http://www.w3.org/2000/svg', width="100%" height="153" viewbox='0 0 1000 85', preserveaspectratio='none')
      polygon.left(points='0,0 0,86 1030,86 1030,86')
    svg.about__triangle_right(xmlns='http://www.w3.org/2000/svg', width="100%" height="153" viewbox='0 0 1000 85', preserveaspectratio='none')
      polygon.right(points='1000,0 1000,86 -030,86 -030,86')
  

  
  //- ///////////////////////////////////////////////////////////////////////////////////////////
  
  include ../common/footer