@import 'common/_fonts';
@import 'common/_variables';
@import 'normalize';

.container {
  width: 1200px;
  padding: 0 10px;
  margin: auto;
}

.section__header {
  background: url('../images/background.png') no-repeat center center;
  background-size: cover;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.authoriz {
  display: flex;
  justify-content: flex-end;
  min-height: 100px;
}

.authoriz__btn {
  padding-top: 33px;
  padding-right: 100px;
}

.btn__login {
  text-decoration: none;
  color: #fff;
  font-family: 'RobotoMedium', sans-serif;
  display: block;
  padding: 15px 28px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: 0.5s ease;

  &:hover {
    color: $base;
    background-color: #fff;
    transition: 0.5s ease;
  }
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  flex-grow: 1;
}

.user__welcome {
  width: 380px;
  text-align: center;
  background-color: #fff;
  opacity: .85;
  border-radius: 4px;
  box-sizing: border-box;
}

.user__image {
  padding-top: 37px;
}

.user__avatar {
  width: 145px;
  border-radius: 50%;
}

.user__name {
  font-family: "RobotoMedium", sans-serif;
  font-size: 1.75rem;
  margin-bottom: 0;
}

.user__description {
  font-family: "RobotoRegular", sans-serif;
}

.user__socials {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 43px;
}

.socials {
  padding: 0;
  margin: 0;
}

.socials__item {
  list-style: none;
  display: inline-block;
  padding: 0 5px;
}

.icon_sprites {
  width: 30px;
  fill: $base;
  transition: .5s ease;

  &:hover {
    fill: $darkBase;
    transition: .5s ease;
  }
}

.menu {
  font-size: 0;
  padding: 0;
  display: flex;
}

.menu__items {
  display: inline-block;
  width: 33%;
  list-style: none;
  font-size: 1rem;
  overflow: hidden;
  border-right: 2px solid #dee3e7;

  &:first-child {
    border-radius: 0 0 0 5px;
  }
  &:last-child {
    border-radius: 0 0 5px 0;
    border-right: none;
  }
}

.menu__items_link {
  text-decoration: none;
  color: #fff;
  background-color: #00bfa5;
  display: block;
  padding: 14px 0;
  opacity: .5;
  text-align: center;
  font-family: 'RobotoRegular', sans-serif;

  &:hover {
    background-color: #009688;
  }
}

.user__copy {
  display: flex;
  justify-content: center;
  min-height: 100px;
}

.copy__text {
  font-family: 'RobotoLight', sans-serif;
  color: #ffffff;
  padding-bottom: 23px;
}