@import 'normalize';
@import 'common/_fonts';
@import 'common/_variables';
@import 'common/_components';
@import 'common/_socials';
@import 'common/_sprites';
@import 'common/_auth';
@import 'common/_menu';
@import 'common/_form';
@import 'common/_header';
@import 'common/_parallax';
@import 'common/_section';
@import 'common/_blog';
@import 'common/_footer';

html, body {
  // max-width: 1800px;
  margin: 0 auto;
  font-size: 16px;
  font-family: $rbtReg;
  height: 100%;
}
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}
li {
  // display: inline-block;
  font-size: 16px;
}
a {
  display: block;
  text-decoration: none;
  color: #ffffff;
}
.wrapper {
  position: relative;
  // overflow: hidden;
}