.user__authoriz-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -5px;
  padding-right: 70px;
  align-items: center;
}

.authoriz-btn {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-family: $rbtMed;
  padding: 15px 28px;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition: 0.5s ease;
  &:hover {
    color: $baseColor;
    background-color: #ffffff;
    transition: 0.5s ease;
  }
}