// Roboto
@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBoldItalic';
  src: url('../fonts/roboto/Roboto-Bolditalic.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoItalic';
  src: url('../fonts/roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLightItalic';
  src: url('../fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMediumItalic';
  src: url('../fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// Bernier
@font-face {
  font-family: 'BernierDistressed';
  src: url('../fonts/bernier/BERNIERDistressed-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BernierRegular';
  src: url('../fonts/bernier/BERNIERRegular-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BernierShade';
  src: url('../fonts/bernier/BERNIERShade-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}