.footer {
  background-color: rgba(55, 62, 66, 0.85);
  font-family: $rbtL;
  color: #ffffff;
}
.about-footer {
  margin-top: -146px;
  position: relative;
}
// .about-footer {
//   position: absolute;
//   width: 100%;
//   bottom: 0;
// }
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 73px;
  padding: 0 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.socials__item {
  display: inline-block;
}

.sprites_footer {
  padding: 0 10px 0 0;
}
// .user__footer {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-family: $rbtL;
//   color: #ffffff;
//   min-height: 95px;
// }
.text-opacity {
  opacity: .5;
}
.footer__menu {
  display: flex;
  font-family: $rbtMed;
}
.menu__link_footer {
  padding-right: 40px;
}