// login
.block-subtitle {
  font-family: $bernierRegular;
  font-size: 35px;
  position: relative;
  font-weight: 400;
  margin: 0;
  padding: 33px 0;
  
  &::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 50px;
    width: 22px;
    height: 5px;
    background-color: $grey;
    opacity: 0.2;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50px;
    right: 52px;
    width: 22px;
    height: 5px;
    background-color: $grey;
    opacity: 0.2;
  }
}
// login + password
.auth-form__row {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 20px;
}

.auth-form__input {
  height: 45px;
  outline: none;
  background-color: #fff;
  border-radius: 0px 10px 10px 0px;
  color: rgba(155, 158, 160, 0.5);
  padding: 0 20px;
  width: 100%;
  border: 1px solid transparent;
  box-sizing: border-box;
  font-family: $robotoRegular;
  
  &:focus {
    border-color: $base;
  }
}

.input__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0efe9;
  border-radius: 10px 0px 0px 10px;
  color: #606468;
  height: 45px;
  line-height: 50px;
  width: 45px;
}

.auth-form__sprite {
  fill: #c4cbcd;
}

.login {
  width: 15px;
}

.pass {
  width: 17px;
}

.auth-form__captcha {
  margin-bottom: 38px;
}

.question {
  font-family: $robotoBold;
  opacity: .8;
  margin-bottom: 10px;
}
// checkbox + radio
.captcha__radio:first-child {
  padding-right: 40px;
}

.checkbox,
.radio {
  display: none;
}
.checkbox-custom,
.radio-custom {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(155, 158, 160, 0.85);
  border-radius: 3px;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
}
.checkbox-custom,
.radio-custom,
.label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
}
.checkbox-custom {
  background-color: $base;
  border: 2px solid $base;
}
// .checkbox:checked + .checkbox-custom{
//   background-color: $base;
//   border: 2px solid $base;
// }
.checkbox:checked + .checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  color: #fff;
  height: 5px;
  width: 8px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  // background-color: $base;
  transform: rotate(-45deg);
}

.radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  bottom: 4px;
  left: 4px;
  background: $base;
  border-radius: 2px;
}
.radio-custom,
.radio:checked + .radio-custom::before {
  border-radius: 50%;
}

.radio:checked ~ .label {
  color: $base;
}