.menu {
  display: flex;
  // width: 100%;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.menu__item_border {
  border-right: 2px solid #dee3e7;
  &:last-child {
    border-right: none;
  }
}
.menu-column {
  // display: flex;
  // flex-direction: column;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.menu-item_bgc {
  background-color: rgba($baseColor, $alpha50);
  transition: .5s;
  &:hover {
    background-color: $baseColor;
    transition: .5s;
  }
}
.menu-item-width {
  width: 100%;
}
.menu__link_padding {
  padding: 13px 31px 14px;
}

/////////////////////////// toggle menu ///////////////////////////////////////

@keyframes show-tg-menu {
  100% {
    width: 40px;
    opacity: 1;
  }
  75% {
    width: 30px;
    opacity: 0.75;
  }
  50% {
    width: 20px;
    opacity: 0.4;
  }
  25% {
    width: 10px;
    opacity: 0.1;
  }
  0% {
    width: 0;
    opacity: 0;
  }
}
@keyframes hide-tg-menu {
  0% {
    width: 40px;
    opacity: 1;
  }
  25% {
    width: 30px;
    opacity: 0.75;
  }
  50% {
    width: 20px;
    opacity: 0.4;
  }
  75% {
    width: 10px;
    opacity: 0.1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
.toggle-menu {
  z-index: 10;
}

.toggle-menu .sandwich {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 35px;
}

.toggle-menu .sandwich span {
  display: block;
  position: relative;
  width: 40px;
  height: 5px;
  background: white;
  border: none;
  border-radius: 4px;
  transition: transform 0.5s, top 0.2s;
  /* transition-delay: 0.2s, 0s; */
}

.toggle-menu .sandwich .center {
  animation-name: show-tg-menu;
  animation-duration: 0.3s;
}

.toggle-menu .toggle-active .top {
  top: 15px;
  transform: rotate(135deg);
}

.toggle-menu .toggle-active .center {
  opacity: 0;
  animation-name: hide-tg-menu;
  animation-duration: 0.3s;
}

.toggle-menu .toggle-active .bottom {
  top: -15px;
  transform: rotate(-135deg);
}
.menu-fullscreen {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($baseColor, $alpha87);
  top: 0;
  left: 0;
  z-index: 5;
  text-align: center;
}
.menu-fullscreen__item {
  width: 100%;
  &:hover {
    background-color: rgba($baseColor, $alpha87);
  }
}
// .menu-fullscreen__link {
  // display: inline-block;
  // color: #ffffff;
  // transition: 0.4s;
// }
// .menu-fullscreen__link.title {
//   &::before {
//     left: -40px;
//   }
//   &::after {
//     right: -35px;
//   }
// }