.section__triangle {
  margin-top: -153px;
  display: flex;
  position: relative;
}
.about__triangle_left {
  fill: #efeee9;
}
.about__triangle_right {
  fill: #eeebdf;
}
.triangle_white {
  fill: #ffffff;
}
.about {
  display: flex;
  min-height: 100vh;
}
.about__column {
  display: flex;
  padding: 20px;
}
.about__left {
  flex: 1 0 50%;
  background-color: #efeee9;
}
.about__right {
  background-color: #eeebdf;
  flex-direction: column;
  padding-left: 40px;
}
.about__left-title,
.about__left-content {
  flex: 1 0 50%;
}
.about__left-title {
  position: relative;
  top: -83px;
  display: flex;
  justify-content: center;
}
.about-title__picture {
  position: absolute;
  top: 25px;
  fill: rgba(109,112,112,0.07);
}
// .user-description__image {
//   width: 100%;
// }
.user-description__avatar {
  width: 100%;
}
// .user-description__title {
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   color: $darkGreen;
// }
.about__right-title {
  position: relative;
  top: -46px;
}
.text-content {
  font-family: $rbtReg;
  line-height: 1.4;
  margin: 0
}
.tech-row__title {
  font-family: $rbtMed;
  font-size: 28px;
  padding-bottom: 20px;
}

// map
.google-map {
  display: flex;
  justify-content: center;
  // align-items: center;
  position: relative;
  min-height: 100vh;
}
#map {
  width: 100%;
  height: 100vh;
  // background-color: orange;
}
.map__data {
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
}
.contacts {
  background-color: rgba(255,255,255,0.85);
  padding: 0 40px;
  border-radius: 10px;
}
.contacts__item {
  display: flex;
  padding-bottom: 20px;
}
.contacts-row__icon {
  padding-right: 10px;
}
.contacts-row_sprites {
  fill: $baseColor;
}
.contacts__link {
  color: $darkGreen;
}

// blog
