// color
$baseColor: rgb(0, 191, 165); // персидский зеленый
$darkBaseColor: rgb(0, 150, 136); // темный циан
$marengo: rgb(69, 90, 100); // маренго
$darkGreen: rgb(55, 62, 66); // черно-зеленый
$skillColor: rgb(0, 191, 165);
$alpha20: .2;
$alpha50: .5;
$alpha87: .87;

// fonts
$rbtL: "RobotoLight", sans-serif; // 300
$rbtReg: "RobotoRegular", sans-serif; // 400
$rbtMed: "RobotoMedium", sans-serif; // 500
$rbtB: "RobotoBold", sans-serif; // 800
$bernierReg: "BernierRegular", sans-serif; // 400

// $robotoBolditalic: "RobotoBoldItalic", sans-serif;
// $robotoitalic: "RobotoItalic", sans-serif;
// $robotoLightItalic: "RobotoLightItalic", sans-serif;
// $robotoMediumItalic: "RobotoMediumItalic", sans-serif;
// $bernierDistressed: "BernierDistressed", sans-serif;
// $bernierShade: "BernierShade", sans-serif;