// color
$base: #00bfa5;
$darkBase: #009688;
$grey: #455a64;
$darkGrey: #373e42;

// fonts
$robotoBold: "RobotoBold", sans-serif;
$robotoBolditalic: "RobotoBoldItalic", sans-serif;
$robotoitalic: "RobotoItalic", sans-serif;
$robotoLight: "RobotoLight", sans-serif;
$robotoLightItalic: "RobotoLightItalic", sans-serif;
$robotoMedium: "RobotoMedium", sans-serif;
$robotoMediumItalic: "RobotoMediumItalic", sans-serif;
$robotoRegular: "RobotoRegular", sans-serif;
$bernierDistressed: "BernierDistressed", sans-serif;
$bernierRegular: "BernierRegular", sans-serif;
$bernierShade: "BernierShade", sans-serif;