	header.header__welcome
		.btn__authoriz
			a.btn__authoriz_link(href='#') Авторизоваться
		.welcome_block
			.img__wrapper
				img.img__avatar(src='avatar.jpg' alt='avatar')
			.info__block
				h2.user__name Пацура Александр
				p.user__description Личный сайт веб разработчика
			.social__icons
				i.fa.fa-fb
		nav
			ul.menu
				li.menu__item
					a.menu__item_link(href='#') Мои работы
				li.menu__item
					a.menu__item_link(href='#') Обо мне
				li.menu__item
					a.menu__item_link(href='#') Блог
	footer.footer
		.copy
			p © Владимир Астахов | создано с любовью в LoftSchool | 2016